In [2]:
import pandas as pd

In [3]:
# Read in the csv file generated from the google vision api notebook 
photos = pd.read_csv('output/labels.csv')
photos.head()

,index,filename,label1,score1,label2,score2,label3,score3,label4,score4,label5,score5
0,0,bw_img_test_depth_2_012.jpg,Land vehicle,0.9961627125740051,Vehicle,0.9903031587600708,Car,0.9531705975532532,Mud,0.9101136326789856,Off-roading,0.8845257759094238
1,1,lyons-flooding.jpg,Water,0.9578154683113098,Floodplain,0.9199719429016113,Flood,0.9010854959487915,Reflection,0.8739012479782104,Watercourse,0.8618021011352539
2,2,rot-3.7_img_test_depth_2_004.jpg,Vehicle,0.955994725227356,Pickup truck,0.9536613821983337,Car,0.9531705975532532,Automotive tire,0.9184738993644714,Commercial vehicle,0.898774266242981
3,3,bw_img_test_depth_2_004.jpg,Vehicle,0.9903031587600708,Mud,0.9358754754066467,Mud bogging,0.9341546893119812,Off-roading,0.9158467650413513,Car,0.9123747944831848
4,4,.DS_Store,,,,,,,,,,

In [4]:
# Drop the row with .DS_Score

photos.drop( 4, inplace = True)

In [5]:
# Viewing photos dataframe
photos.head()

,index,filename,label1,score1,label2,score2,label3,score3,label4,score4,label5,score5
0,0,bw_img_test_depth_2_012.jpg,Land vehicle,0.9961627125740051,Vehicle,0.9903031587600708,Car,0.9531705975532532,Mud,0.9101136326789856,Off-roading,0.8845257759094238
1,1,lyons-flooding.jpg,Water,0.9578154683113098,Floodplain,0.9199719429016113,Flood,0.9010854959487915,Reflection,0.8739012479782104,Watercourse,0.8618021011352539
2,2,rot-3.7_img_test_depth_2_004.jpg,Vehicle,0.955994725227356,Pickup truck,0.9536613821983337,Car,0.9531705975532532,Automotive tire,0.9184738993644714,Commercial vehicle,0.898774266242981
3,3,bw_img_test_depth_2_004.jpg,Vehicle,0.9903031587600708,Mud,0.9358754754066467,Mud bogging,0.9341546893119812,Off-roading,0.9158467650413513,Car,0.9123747944831848
5,5,images.jpeg,Property,0.905249297618866,House,0.8852978348731995,Cottage,0.8578574061393738,Home,0.8384076356887817,Geological phenomenon,0.8274269104003906

In [6]:
# This function makes a new dataframe for rows that have 'Pickup truck' in one of the label columns
pickup_truck = [] 
for index, row in photos.iterrows():
    
    if row['label1'] == 'Pickup truck':
        pickup_truck.append(row)
    elif row['label2'] == 'Pickup truck':
        pickup_truck.append(row)
    elif row['label3'] == 'Pickup truck':
        pickup_truck.append(row)
    elif row['label4'] == 'Pickup truck':
        pickup_truck.append(row)
    elif row['label5'] == 'Pickup truck':
        pickup_truck.append(row)
    else:
        pass
pickup_trucks = pd.DataFrame(pickup_truck)
pickup_trucks

,index,filename,label1,score1,label2,score2,label3,score3,label4,score4,label5,score5
2,2,rot-3.7_img_test_depth_2_004.jpg,Vehicle,0.955994725227356,Pickup truck,0.9536613821983337,Car,0.9531705975532532,Automotive tire,0.9184738993644714,Commercial vehicle,0.898774266242981
10,10,crop-0.83_img_test_depth_0_005.jpg,Land vehicle,0.9961627125740051,Vehicle,0.9903031587600708,Car,0.9870125651359558,Motor vehicle,0.9743772745132446,Pickup truck,0.9536613821983337
19,19,crop-0.83_img_test_depth_3_003.jpg,Land vehicle,0.9961627125740051,Vehicle,0.9903031587600708,Car,0.9870125651359558,Pickup truck,0.9291220307350159,Motor vehicle,0.9010037183761597
21,21,bw_img_test_depth_0_003.jpg,Land vehicle,0.9961627125740051,Vehicle,0.9903031587600708,Car,0.9870125651359558,Pickup truck,0.9759641289710999,Automotive tire,0.9641330242156982
22,22,hflip_img_test_depth_0_001.jpg,Land vehicle,0.9961627125740051,Vehicle,0.9903031587600708,Car,0.9870125651359558,Automotive tire,0.9048524498939514,Pickup truck,0.8810378313064575
23,23,hflip_img_test_depth_1_003.jpg,Vehicle,0.963193953037262,Pickup truck,0.9561890363693237,Car,0.9440270662307739,Off-roading,0.9019685983657837,Automotive tire,0.8508321642875671
35,35,crop-0.84_img_test_depth_2_002.jpg,Water,0.966123640537262,Vehicle,0.955994725227356,Pickup truck,0.9065268039703369,Mud,0.8769795894622803,Car,0.8496900796890259

In [6]:
# This function makes a new dataframe for rows that have 'person' in one of the label columns
person = [] 
for index, row in photos.iterrows():
    
    if row['label1'] == 'person':
        person.append(row)
    elif row['label2'] == 'person':
        person.append(row)
    elif row['label3'] == 'person':
        person.append(row)
    elif row['label4'] == 'person':
        person.append(row)
    elif row['label5'] == 'person':
        person.append(row)
    else:
        pass
persons = pd.DataFrame(person)
persons

Empty DataFrame
Columns: []
Index: []